fastapi[standard]
pyquadkey2

#duckdb
#%pip install duckdb leafmap
#%pip install "xarray[io]"
#%pip install jupysql
#%pip install duckdb-engine --quiet # To use DuckDB with JupyterSQL for %%sql commands